<%- include('./fragments/header.ejs') %>
        <main>
            <h2>Strona główna</h2>
            <p>Wypożyczalnia samochodów sportowych SPLIT oferuje wynajem samochodów sportowych oraz nietuzinkowych. W naszej ofercie znajdziesz samochody takie jak najnowsze BMW M2, BMW M4 CS, Ford Mustang, Mercedes AMG, Ferarri F8 Tributo, Lexus LC500, Ford Focus RS i wiele więcej. Wynajmujemy na godziny, dni oraz długoterminowo. Działamy na terenie Warszawy. Możemy dostarczyć i odebrać samochód w dowolnym miejsce w Polsce. <b>Wynajmij jeden z naszych samochodów i spełnij swoje marzenie!</b></p>
        </main>
<%- include('./fragments/footer.ejs') %>