<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Nowy wynajem</h2>
            <form class="form" id="form" name="form" novalidate onsubmit="return validateForm();">
                <label for="rentId">Id wynajmu: <span class="symbol-required">*</span></label>
                <input type="number" name="rentId" id="rentId" value="4" required readonly />

                <label for="carId">Id samochodu: <span class="symbol-required">*</span></label>
                <select name="carId" id="carId">
                    <option selected>--- Wybierz samochód ---</option>
                    <option value="1" title="Bmw 118i, WE2N303">1</option>
                    <option value="2" title="Audi s3, WA756AA">2</option>
                    <option value="3" title="Alfa Romeo Giulia Quadrifoglio, WB757E3">3</option>
                </select>
                <span id="errorCarId" class="errors-text"></span>  

                <label for="clientId">Id klienta: <span class="symbol-required">*</span></label>
                <select name="clientId" id="clientId">
                    <option selected>--- Wybierz klienta ---</option>
                    <option value="1" title="Jakub Redziński, 524151">1</option>
                    <option value="2" title="Piotr Nowak, 524152">2</option>
                    <option value="3" title="Aleksandra Nowak, 524153">3</option>
                </select>
                <span id="errorClientId" class="errors-text"></span>  
            
                <label for="rentPrice">Cena wynajmu: <span class="symbol-required">*</span></label>
                <input type="number" name="rentPrice" id="rentPrice" placeholder="Cena za dobę wynajmu" required />
                <span id="errorRentPrice" class="errors-text"></span>  

                <label for="dateFrom">Data rozpoczęcia najmu: <span class="symbol-required">*</span></label>
                <input type="date" name="dateFrom" id="dateFrom" required />
                <span id="errorDateFrom" class="errors-text"></span>  

                <label for="dateTo">Data zakończenia najmu: <span class="symbol-required">*</span> </label>
                <input type="date" name="dateTo" id="dateTo" required />
                <span id="errorDataTo" class="errors-text"></span>  

                <div class="form-buttons">
                    <span id="errorsSummary" class="errors-text"></span>
                        <form action="statement/rent-list-success-add.html">
                            <input type="submit" class="button-add2" value="Dodaj">
                        </form>
                    <!-- <form action="../client/statement/client-list-success-add.html" method="GET" > 
                        <button type="submit" name="submit" value="Dalej" id="submitClient" class="button-add2">Dodaj</button>
                    </form> -->
                    <a href="client-list.html" class="button-cancel">Anuluj</a>
                </div>
            </form>
        </main>
<%- include('../../fragments/footer.ejs') %>