<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type="application/javascript" src="../../../js/validationCommon.js"></script>
        <link rel="stylesheet" href="../../../css/style.css"/>
        <title>Wypożyczalnia samochodów SPLIT</title>
    </head>
    <body>
        <header>
            <h1>Wypożyczalnia samochodów SPLIT</h1>
            <img src="../../../images/logo.png" alt="Wypozyczalnia samochodow SPLIT">
        </header>
        <nav>
            <ul>
                <li><a href="../../../index.html">Strona główna</a></li>
                <li><a href="../../car/car-list.html">Samochody</a></li>
                <li><a href="../../client/client-list.html" class="active">Klienci</a></li>
                <li><a href="../../rent/rent-list.html">Wynajem</a></li>
            </ul>
        </nav>
        <main>
            <h2>Usuwanie klienta</h2>
            <p>Czy na pewno chcesz usunąć tego klienta?</p>
            <div>
                <a href="client-list-success-delete.html" class="button-add2">Tak</a>
                <a href="../client-list.html" class="button-cancel">Nie</a>
            </div>
        </main>
        <footer>
            Imię, nazwisko, id klienta
        </footer>       
    </body>
</html>