<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Lista klientów</h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Id klienta</th>
                        <th>Numer prawa jazdy</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>E-mail</th>
                        <th>Stały klient</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>524151</td>
                        <td>Jakub</td>
                        <td>Redziński</td>
                        <td>kuba.r@gmail.com</td>
                        <td>Nie</td>

                        <td>
                            <ul>
                                <li>
                                        <a href="client-detail.html" class="list-actions-button-details">Szczegóły</a>
                                        <a href="client-edit.html" class="list-actions-button-edit">Edytuj</a>
                                        <a href="statement/client-list-ask-delete.html" class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>524152</td>
                        <td>Piotr</td>
                        <td>Nowak</td>
                        <td>p.nowak@gmail.com</td>
                        <td>Tak</td>
                        <td>
                            <ul>
                                <li>
                                        <a href="client-detail.html" class="list-actions-button-details">Szczegóły</a>
                                        <a href="client-edit.html" class="list-actions-button-edit">Edytuj</a>
                                        <a href="statement/client-list-ask-delete.html" class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>524153</td>
                        <td>Aleksandra</td>
                        <td>Nowak</td>
                        <td>a.nowak@op.pl</td>
                        <td>Tak</td>
                        <td>
                            <ul>
                                <li>
                                        <a href="client-detail.html" class="list-actions-button-details">Szczegóły</a>
                                        <a href="client-edit.html" class="list-actions-button-edit">Edytuj</a>
                                        <a href="statement/client-list-ask-delete.html" class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><a href="new-client.html" class="button-add">Dodaj nowego klienta</a></p>
        </main>
<%- include('../../fragments/footer.ejs') %>